:root {
    --bg: #0f0f1a;
    --text: #ffffff;
    --subtext: #aaaaaa;
    --card: #1e293b;
    --hover: #3b82f6;
    --brd: transparent;
}

body.light {
    --bg: #f5f5f5;
    --text: #111;
    --subtext: #555;
    --card: #ffffff;
    --hover: #438ba8;
    --brd: #2563eb;
}

* {
    transition: background 0.3s ease, color 0.3s ease;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#theme-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;
}

#theme-button img {
    width: 24px;
}

.cabecalho img {
    width: 120px;
    border-radius: 30%;
    margin-bottom: 15px;
}

.cabecalho-titulo {
    font-size: 24px;
    color: var(--text);
    margin-bottom: 5px;
}

.cabecalho-link {
    font-size: 14px;
    color: var(--subtext);
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.link-image {
    position: absolute;
    left: 15px;
    width: 24px;
}

.link-text {
    font-size: 18px;
    color: var(--text);
}


.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    width: 400px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid var(--brd);
}

.link:hover {
    background-color: var(--hover);
    transform: scale(1.03);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.footer-button {
    font-size: 14px;
    color: var(--text);
    padding: 12px 20px;
    border-radius: 8px;
    background: var(--card);
    transition: all 0.3s ease;
    display: inline-block;
    border: 1px solid var(--brd);
}

.footer-button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
    opacity: 0.9;
}

@media (max-width: 500px) {
    .link {
        width: 200px;
    }

    .link-text {
        font-size: 16px;
    }

    .cabecalho-titulo {
        font-size: 20px;
    }

    .cabecalho-link {
        font-size: 12px;
    }

    .footer-button {
        font-size: 12px;
        padding: 10px 16px;
    }

}

@media (max-width: 350px) {
    .link{
        width: 150px;
    }

    .link-text {
        font-size: 14px;
    }

    .cabecalho-titulo {
        font-size: 18px;
    }

    .cabecalho-link {
        font-size: 10px;
    }

    .footer-button {
        font-size: 13px;
        padding: 8px 12px;
    }
}